In [7]:
import pandas as pd

df = pd.read_csv("./medidatasett.csv")
df

,age,sex,bmi,children,smoker,region,medical_history,family_medical_history,occupation,charges
0,19.000000,female,27.900000,0.0,yes,southwest,No,Heart Disease,Student,16884.924000
1,18.000000,male,33.770000,1.0,no,southeast,No,Heart Disease,Student,1725.552300
2,28.000000,male,33.000000,3.0,no,southeast,High Blood Pressure,High Blood Pressure,White collar,5072.386680
3,33.000000,male,22.705000,0.0,no,northwest,No,Heart Disease,White collar,21984.470610
4,32.000000,male,28.880000,0.0,no,northwest,Heart Disease,Diabetes,White collar,4060.197960
...,...,...,...,...,...,...,...,...,...,...
6897,46.913222,male,30.057785,3.0,yes,southwest,No,No,White collar,25309.193292
6898,43.603648,female,27.369983,1.0,no,southwest,No,No,White collar,7627.003755
6899,56.028230,female,25.696587,0.0,no,northwest,Heart Disease,No,Unemployed,12141.342552
6900,48.119259,male,27.898078,1.0,yes,southwest,No,Heart Disease,Unemployed,23568.236443
6901,46.848468,female,45.466556,1.0,no,southeast,Heart Disease,No,White collar,9769.695403

In [11]:
df["age"] = df["age"].astype(int)
df["bmi"] = df["bmi"].astype(float).round(2)
df["children"] = df["age"].astype(int)

In [12]:
df

,age,sex,bmi,children,smoker,region,medical_history,family_medical_history,occupation,charges
0,19,female,27.90,19,yes,southwest,No,Heart Disease,Student,16884.924000
1,18,male,33.77,18,no,southeast,No,Heart Disease,Student,1725.552300
2,28,male,33.00,28,no,southeast,High Blood Pressure,High Blood Pressure,White collar,5072.386680
3,33,male,22.70,33,no,northwest,No,Heart Disease,White collar,21984.470610
4,32,male,28.88,32,no,northwest,Heart Disease,Diabetes,White collar,4060.197960
...,...,...,...,...,...,...,...,...,...,...
6897,46,male,30.06,46,yes,southwest,No,No,White collar,25309.193292
6898,43,female,27.37,43,no,southwest,No,No,White collar,7627.003755
6899,56,female,25.70,56,no,northwest,Heart Disease,No,Unemployed,12141.342552
6900,48,male,27.90,48,yes,southwest,No,Heart Disease,Unemployed,23568.236443
6901,46,female,45.47,46,no,southeast,Heart Disease,No,White collar,9769.695403

In [13]:
df.to_csv("./medidataset2.csv", index=False)